
extends layout
//- this logic should be moved to a view at some point

block content
  - var lineHeight = 2.2;
  - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getFullYear();
  - }).value();
  - for (var archive in archives) {
  -   archives[archive] = _.groupBy(archives[archive], function(item) { return item.date.getMonth(); });
  - }
  - var month_names = ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień']
  section#banner
    div.content
      a(href="/")
        img(src="/images/logo.png")
      br
      br
      h1 Wszystkie aktualności 
  
  section.wrapper
    div.inner
      ul
        - var yearsK = _.chain(archives).keys().reverse().value();
        each yearK in yearsK
          - var months = archives[yearK];
          - var yearHeight = lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0);
          li
            h2.year-label= yearK
            ul
              - var monthsK = _.chain(months).keys().reverse().value();
              each monthK in monthsK
                - var monthHeight = lineHeight * months[monthK].length;
                li
                  h3.month-label= month_names[monthK]
                  ul
                    each item in months[monthK]
                      li
                        a(href=item.url)= item.title

  div.align-center
    a.button.scrolly(href="/#news") Powrót
    br
    &nbsp;