
extends layout

block prepend title
  | #{ page.title + ' - '}


block content
  section#banner
    div.content
      header.align-center
      a(href="/")
        img(src="/images/logo.png" alt="logo klockolandii")   
      
  section#content
    div.inner
      header.align-center
        br
        br
        h1= page.title
      p!= typogr(page.html).typogrify()

  div.align-center
    a.button.scrolly(href="/") Strona główna
    br
    &nbsp;
